/* Shared Container for Playlists */
.playlists-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Space between playlists */
    margin: 10px auto 20px;
    max-width: 1300px; /* Adjust as needed for page width */
}

/* Individual Playlist */
.playlist {
    flex: 1; /* Make both playlists equal width */
    max-width: 600px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: 1px solid var(--md-default-fg-color--lightest);
    overflow: hidden;
    background-color: var(--md-default-bg-color);
}

/* Playlist Title */
.playlist-title {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: 1px solid var(--md-default-fg-color--lightest);
    background-color: var(--md-default-bg-color--light);
}

/* Legend */
.legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: var(--md-default-bg-color);
}

.legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.color-square {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
}

.song-name {
    font-size: 14px;
    color: var(--md-typeset-color);
}

/* Playlist Rows */
.playlist-rows {
    display: flex;
    flex-direction: column;
}

.song {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
    /*border-bottom: 1px solid #ddd;*/
}

.song:hover {
    /*transform: scale(1.02);*/
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}
